#app {
  margin-top: 100px;
}

.ui.container {
  max-width: 600px !important;
}

.completion-status, .description.completed {
  color: #9B9B9B; /* same as lock SVG */  
}

button.link {
  background: none;
  border: none;
  outline: inherit;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #07C;
}

.svg-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 25px;
  width: 50px;
}

.group, .description {
  font-weight: bold;
}

.description.completed {
  text-decoration: line-through;
}

h1 {
  margin-bottom: 0;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  align-items: center;
}

.action.item:hover, button.link:hover {
  cursor: pointer;
}

.ui.divided.items > .item:first-child {
  padding-top: 14px !important;
  border-top: 1px solid rgba(34,36,38,.15) !important;
}

.ui.divided.items > .item:last-child {
  padding-bottom: 14px !important;
  border-bottom: 1px solid rgba(34,36,38,.15) !important;
}
